body{
    background: #EFEFEF;
    color: black;
    margin: 0px;

}
*{
    font-weight: bold;
    margin: 0;
    padding: 0;
}
a{
    color:inherit;
    text-decoration: none;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;

}
ul,ol{
    list-style: none;    
}
.picture>img:hover{
    box-shadow: 6px 6px 35px 1px rgba(0,0,0,0.39);
    transition: box-shadow 1s;
}
.text{
    float: left;
    width: 400px;
    margin-left: 80px;
}
.topNavBar .logo{
    font-size: 24px;
    font-family: "Comic Sans MS";
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs{
    margin-right: 4px;
    color: #E6686A;
}
.topNavBar .logo .card{
    color: rgb(127, 128, 129);
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right:0px;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
   
}
.topNavBar-next{
    padding-left: 20px;
    padding-right: 20px;
}
.topNavBar-next>nav{
    padding-top:3px;
    padding-bottom:4px;
}
.topNavBar-next>nav>ul{
    list-style: none;
    margin: 0; padding: 0;
}
.topNavBar-next>nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    
}
.topNavBar-next>nav>ul>li>a{
    font-size: 12px;
    color: rgb(201, 199, 199);
    text-decoration: none;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #e06567;   
}
.banner{
    height: 516px;
    background-image:url(./img/shou.jpg);
    background-position:center center;
    background-size: cover;
}
.banner .mask{
    height: 516px;
    background-color:rgba(0,0,0,0.4);
}
.usercard:hover{
    box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.54);
    transition: box-shadow 0.3s;
}
.usercard{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    margin-top: -150px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.44);
}
.usercard .welcom{
    background: #E6686A;
    color: white;
    padding: 0px 16px 4px 16px;
    line-height: 22px;
    font-family: "Comic Sans MS";
    border-radius: 3px;
    position: relative;
}
.usercard .welcom .trangle{
    display: block;
    border:10px solid transparent;
    width:0px;
    border-left-color:#E6686A;
    border-top-width:0px;
    position: absolute;
    left: 4px;
    top: 100%;
}
.usercard .picture{
    float: left;
    margin-right: 50px;
}
.usercard .picture .text{
    float: left;
}
.usercard .pictureAndtex{
    padding:50px;
}
.text h1{
    margin-top:22px;
    font-family: "Comic Sans MS"
}
.text hr{
    margin: 20px 0;
}
.text dl dd,
.text dl dt{
    float: left;
}
.text dl dt{
    width:20%;
    padding:5px 0px;
}
.text dl dd{
    width: 80%;
    padding: 5px 0px;
    color: #9da0a7;
}
.usercard>footer.media{
    background-color:#E6686A;
    padding-top:15px;
    padding-bottom:15px;
}
.usercard>footer.media>a{
    border: 1px solid transparent;
    display: inline-block;
    width: 40px;
    line-height:30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 10;
}
.usercard>footer.media>a:hover{
    background: #CF5D5F;
}
.media svg{
    width:30px;
    height:30px;
    vertical-align: top;
}
.media{
    text-align: center;
}
body main .anniu{
    text-align: center;
}
body main .button{
    font-size: 14px;
    border: 1px solid #cdcfd1;
    padding: 21px 100px ;
    line-height: 16px;
    display: inline-block;
    color: #3d4451;
    border-radius: 2px;
    margin: 37px 0px;
    transition: box-shadow 0.3s;
}
body main .button:hover{
    box-shadow: 0px 6px 18px -1px rgba(0,0,0,0.2);
}
main .duanluo{
    margin: 5px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
main .duanluo p{
    text-align:center;
    border: 0;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-style: inherit;
    font-weight: 100;
    vertical-align: baseline;
    color: #2424249d;
}
section.skills,
section.portfilo{
    max-width:940px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}
section .skills-size{
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.44);
    background: #FFFFFF;
    margin-top: 32px;
}
section .skillslist{
   padding: 40px 50px 10px 50px;
}
section .skillslist:hover{
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.54);
    transition: box-shadow 1s;
}
section.skills h2,
section.portfilo h2{
    margin-top: 74px;
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills li{
    float: left;
    height: 65px;
    width: 50%;
    font-weight: 100;
    box-sizing: border-box;
    padding-left: 7px;
}
.barline{
    border: 1px solid #fae1e1;
    height: 5px;
    width: 400px;
    background: #fae1e1;
    margin-top: 10px;
}
.bar-fill{
    height: 100%;
    width: 50%;
    background: #e8676B;
}
section.portfilo{
    text-align: center;
}
section.portfilo .Workfield{
    text-align: center;
}
section.portfilo > nav{
    display: inline-block;
}
section.portfilo > nav > ol{
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
    margin-bottom:3px;
}
section.portfilo > nav > ol >li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
section.portfilo > nav > ol >li:nth-child(1){
    margin-left: 0px;
}
section.portfilo .Workfield .bar{
    margin-top: 17px;
    height:5px;
    background: white;
    border-radius:3px;
}
section.portfilo .Workfield .bar-inner{
    height:100%;
    background: #E6686A;
    width:14%;
    border-radius:3px;
    transition: all 0.4s;
}
section.portfilo .Workfield .bar.state-1 .bar-inner{
    margin-left:0px;
    width: 30px;
}
section.portfilo .Workfield .bar.state-2 .bar-inner{
    margin-left: 50px;
    width: 76px;
}
section.portfilo .Workfield .bar.state-3 .bar-inner{
    margin-left: 143px;
    width: 97px;
}
.jobs{
    position: relative;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    height: 577px;
    margin-top: 30px;
    margin-bottom: 200px;
    
}
.jobs .big{
    position: absolute;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.44);
    border-radius: 3px;
}
.jobs .small-1{
    position: absolute;
    top: 299px;
    left: 626px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.44);
    border-radius: 3px;
}
.jobs .small-2{
    position: absolute;
    top: 0px;
    left: 626px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.44);
    border-radius: 3px;
}
.jobs .big:hover{
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.54);
    transition: box-shadow 0.5s;
}
.jobs .small-1:hover{
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.54);
    transition: box-shadow 0.5s;
}
.jobs .small-2:hover{
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.54);
    transition: box-shadow 0.5s;
}
